
* {
  font-family: Futura;
}

h1 {
  color: black;
  background-color: red;
  font-size: 90px;
  text-align:center;
  border-style: dashed;


}

h3 {
  color: white;
  font-size: 70px;
  text-align:center;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  border-color: black;
  border-style: dashed;
}

p {
  font-size: 20px;
}

body {

}
#nav ul{
  display: inline-block;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

#nav li {
  text-align: center;
  color: green;
  font-size: 40px;
  display: inline;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

script {
  font-size: 20px;
}
