
* {
  font-family: Futura;
}

h1 {
  color: black;
  background-color: red;
  font-size: 90px;
  text-align:center;
  border-style: dashed;


}

h3 {
  color: white;
  font-size: 60px;
  text-align:center;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  border-color: black;
  border-style: dashed;
}

p {
  font-size: 25px;
  height: 60%;
  width: 60%;
  background-color: cyan;
  margin-left: auto;
  margin-right: auto;
}

body {

}
#nav ul{
  margin: 0 auto;
}

#nav li {
  text-align: center;
  color: green;
  font-size: 40px;
  display: inline;
  margin: 0 auto;
  background-color: orange;
}

script {
  font-size: 20px;
}

ul{
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  padding-left: 40px;
  padding-right: 40px;
}

ol{
  font-size: 20px;
  color: green;
  padding-left: 40px;
  padding-right: 40px;
}
