
* {
  font-family: Futura;
}

h1 {
  color: #69BE28;
  background-color: #002244;
  font-size: 90px;
  text-align:center;
  border-style: dashed;


}

h3 {
  color: #002244;
  font-size: 60px;
  text-align:center;
  background-color: #69BE28;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  border-color: white;
  border-style: dashed;
}

p {
  color: white;
  font-size: 25px;
  height: 60%;
  width: 60%;
  background-color: #002244;

}

body {

}
#nav ul{
  margin: 0 auto;
}

#nav li {
  text-align: center;
  color: #A5ACAF;
  font-size: 40px;
  display: inline;
  margin: 0 auto;

}

script {
  font-size: 20px;
}

ul{
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
  padding-left: 40px;
  padding-right: 40px;
}

ol{
  font-size: 20px;
  color: green;
  padding-left: 40px;
  padding-right: 40px;
}
